html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(https://images.unsplash.com/photo-1433959352364-9314c5b6eb0b?q=80&fm=jpg&s=e3bfea02f099f5b8a177fa03f01fb46e) no-repeat fixed center center / cover;
}
